
DummyPrj.xcodeproj/xcuserdata/thanisa.xcuserdatad/xcschemes/xcschememanagement.plist

DummyPrj.xcodeproj/xcuserdata/thanisa.xcuserdatad/xcschemes/DummyPrj.xcscheme

DummyPrj.xcodeproj/project.xcworkspace/xcuserdata/thanisa.xcuserdatad/UserInterfaceState.xcuserstate

DummyPrj/DummyPrj-Info.plist
